$base-color: rgba(30, 30, 46, 0.851);
$base-text: #9689d2;

window {
  background-color: transparent;
}

.clock-box {
  background-color: transparent;
  padding: 90px 120px;
  padding-left: 10px;
}

.time-hour,
.time-min {
  font-family: "SF Compact Display";
  font-size: 170pt;
  font-weight: 900;
  color: $base-color;
}

.time-hour {
  margin-bottom: 0px;
}

.time-min {
  margin-top: -50px;
}
