$base-color: rgba(30, 30, 46, 0.851);
$base-text: #9689D2;

window {
  background-color: transparent;
}

.clock-box {
  border-radius: 5px 100px 100px 5px;
  background-color: transparent;
  padding: 90px 120px;
  padding-left: 10px;
}

.time-hour, .time-min {
  font-family: "Jersey 10", sans-serif;
  font-size: 230pt;
  font-weight: 500;
  color: $base-color;
}

.time-hour {
    margin-bottom: -100px;
    
}

.time-min {
    padding-bottom: 0px;
}
