* {
  border: none;
  font-family: "JetBrainsMono Nerd Font", "JetBrains Mono", monospace;
  font-weight: 600;
  font-size: 20px;
  min-height: 0;
  min-width: 0;
}

window#waybar {
  background: rgba(35, 35, 35, 1);
  border-right: 2px solid #444444;
  color: #ffffff;
  padding: 0;
}

.modules-left,
.modules-center,
.modules-right {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.modules-right {
  margin-bottom: 0px;
}
#backlight {
  padding-right: 6px;
}
#custom-cc {
  background-color: #ffffff;
  transition: all 0.2s ease;
  padding-right: 4px;
  border-radius: 10px;
  border: 1px solid transparent;
  margin-top: 10px;
  min-width: 0px;
  min-height: 30px;
  padding: 5 3 5 0px;
  margin: 13px;
  color: #000000;
}
#custom-cc:hover{
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

#tray {
  padding: 15px;
  font-size: 15px;
}

/* === ALL MODULES - ICON ONLY VERTICAL === */
#custom-launcher,
#clock {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 2px 0;
  border-radius: 0;
  background: transparent;
  color: #ffffff;
  font-size: 17px;
}

#network {
  padding-right: 6px;
}

#backlight,
#network,
#bluetooth,
#microphone,
#pulseaudio {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 2px 0;
  border-radius: 0;
  background: transparent;
  color: #ffffff;
  font-size: 17px;
}

/* --- Charging animation --- */
@keyframes charging-pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

#clock {
  padding-top: 6px;
  margin: 2px 0;
  border-radius: 0;
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

#custom-launcher:hover,
#tray:hover,
#clock:hover,
#custom-power:hover {
  color: #ffffff;
  border-radius: 0;
}

/* === WORKSPACES === */
#workspaces {
  padding-left: 3px;
}

#workspaces button {
  padding: 8px 0;
  margin: 5px 0;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 0;
  background: transparent;
  font-size: 20px;
  font-weight: 700;
  border-right: 8px solid transparent;
  transition: none;
}

#workspaces button:hover {
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  color: #ffffff;
  border-color: transparent;
}
#workspaces button.active {
  font-weight: 700;
  border-radius: 0;
  color: #ffffff;
}

#workspaces button.urgent {
  color: #000000;
  background: #ffffff;
}

/* === LAUNCHER === */
#custom-launcher {
  font-size: 30px;
  color: #cccccc;
  padding-right: 10px;
  padding-top: 10px;
}

#custom-launcher:hover {
  color: #ffffff;
}

/* === CLOCK === */
#clock {
  color: #ffffff;
  font-weight: 700;
}

/* === NETWORK STATE === */
#network.disconnected {
  color: #888888;
}

/* === BLUETOOTH STATE === */
#bluetooth.connected {
  color: #ffffff;
}

/* === AUDIO STATE === */
#pulseaudio.muted {
  color: #666666;
}
#pulseaudio {
  padding-right: 0px;
  font-size: 18px;
}
#pulseaudio.microphone {
  font-size: 20px;
}

/* === POWER BUTTON === */
#custom-power {
  color: #ffffff;
  margin: 10px;
  font-size: 25px;
  border-radius: 500px;
  padding-bottom: 10px;
}

#custom-power:hover {
  border-radius: 50px;
  margin: 10px 18px;
  color: red;
}

/* === TOOLTIP === */
tooltip {
  background: rgba(30, 30, 30, 0.9);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  padding: 15px;
  min-width: 320px;
  font-family: "SF Compact";
}

tooltip label {
  color: #f0f0f0;
  font-size: 20px;
  padding: 8px;
}

/* === CALENDAR (Inside Clock Tooltip) === */
calendar {
  background: transparent;
  color: #f0f0f0;
  padding: 10px;
  border-radius: 12px;
  font-size: 18px;
  font-family: "SF Compact";
}

calendar:selected {
  background-color: #dbdbdb;
  color: #1a1a1a;
  border-radius: 4px;
}

calendar > header {
  padding: 5px;
  color: #dbdbdb;
}

calendar > .header {
  color: #dbdbdb;
}

calendar > .button {
  color: #f0f0f0;
}

calendar:indeterminate {
  color: #666666;
}

/* --- Discharging fill levels (monochrome) --- */
#custom-battery-fill.level-0 {
  background: #222222;
}
#custom-battery-fill.level-5 {
  background: linear-gradient(to top, #ff0000 5%, #a8a8a8 5%);
}
#custom-battery-fill.level-10 {
  background: linear-gradient(to top, #ff0000 10%, #a8a8a8 10%);
}
#custom-battery-fill.level-15 {
  background: linear-gradient(to top, #ff0000 15%, #a8a8a8 15%);
}
#custom-battery-fill.level-20 {
  background: linear-gradient(to top, #ff0000 20%, #a8a8a8 20%);
}
#custom-battery-fill.level-25 {
  background: linear-gradient(to top, #a7af09 25%, #a8a8a8 25%);
}
#custom-battery-fill.level-30 {
  background: linear-gradient(to top, #666666 30%, #a8a8a8 30%);
}
#custom-battery-fill.level-35 {
  background: linear-gradient(to top, #666666 35%, #a8a8a8 35%);
}
#custom-battery-fill.level-40 {
  background: linear-gradient(to top, #666666 40%, #a8a8a8 40%);
}
#custom-battery-fill.level-45 {
  background: linear-gradient(to top, #777777 45%, #a8a8a8 45%);
}
#custom-battery-fill.level-50 {
  background: linear-gradient(to top, #777777 50%, #a8a8a8 50%);
}
#custom-battery-fill.level-55 {
  background: linear-gradient(to top, #777777 55%, #a8a8a8 55%);
}
#custom-battery-fill.level-60 {
  background: linear-gradient(to top, #888888 60%, #a8a8a8 60%);
}
#custom-battery-fill.level-65 {
  background: linear-gradient(to top, #888888 65%, #a8a8a8 65%);
}
#custom-battery-fill.level-70 {
  background: linear-gradient(to top, #888888 70%, #a8a8a8 70%);
}
#custom-battery-fill.level-75 {
  background: linear-gradient(to top, #888888 75%, #a8a8a8 75%);
}
#custom-battery-fill.level-80 {
  background: linear-gradient(to top, #888888 80%, #a8a8a8 80%);
}
#custom-battery-fill.level-85 {
  background: linear-gradient(to top, #888888 85%, #a8a8a8 85%);
}
#custom-battery-fill.level-90 {
  background: linear-gradient(to top, #eeeeee 90%, #a8a8a8 90%);
}
#custom-battery-fill.level-95 {
  background: linear-gradient(to top, #eeeeee 95%, #a8a8a8 95%);
}

#custom-battery-fill.level-100 {
  background: #ffffff;
}

#custom-battery-fill.level-0,
#custom-battery-fill.level-5,
#custom-battery-fill.level-10,
#custom-battery-fill.level-15,
#custom-battery-fill.level-20,
#custom-battery-fill.level-25,
#custom-battery-fill.level-30,
#custom-battery-fill.level-35,
#custom-battery-fill.level-40,
#custom-battery-fill.level-45,
#custom-battery-fill.level-50,
#custom-battery-fill.level-55,
#custom-battery-fill.level-60,
#custom-battery-fill.level-65,
#custom-battery-fill.level-70,
#custom-battery-fill.level-75,
#custom-battery-fill.level-80,
#custom-battery-fill.level-85,
#custom-battery-fill.level-90,
#custom-battery-fill.level-95,
#custom-battery-fill.level-100 {
  font-size: 40px;
  color: #000000;
  min-height: 150px;
  margin-top: 5px;
  margin: 13px;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

#custom-battery-fill.level-0-charging,
#custom-battery-fill.level-5-charging,
#custom-battery-fill.level-10-charging,
#custom-battery-fill.level-15-charging,
#custom-battery-fill.level-20-charging,
#custom-battery-fill.level-25-charging,
#custom-battery-fill.level-30-charging,
#custom-battery-fill.level-35-charging,
#custom-battery-fill.level-40-charging,
#custom-battery-fill.level-45-charging,
#custom-battery-fill.level-50-charging,
#custom-battery-fill.level-55-charging,
#custom-battery-fill.level-60-charging,
#custom-battery-fill.level-65-charging,
#custom-battery-fill.level-70-charging,
#custom-battery-fill.level-75-charging,
#custom-battery-fill.level-80-charging,
#custom-battery-fill.level-85-charging,
#custom-battery-fill.level-90-charging,
#custom-battery-fill.level-95-charging,
#custom-battery-fill.level-100-charging {
  font-size: 25px;
  color: #222222;
  min-height: 70px;
  border-radius: 10px;
  margin: 13px;
  border: 2px solid #ffffff;
}

#custom-battery-fill.level-0-charging {
  background: #222222;
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-5-charging {
  background: linear-gradient(to top, #ffffff 5%, #444444 5%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-10-charging {
  background: linear-gradient(to top, #ffffff 10%, #444444 10%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-15-charging {
  background: linear-gradient(to top, #ffffff 15%, #444444 15%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-20-charging {
  background: linear-gradient(to top, #ffffff 20%, #444444 20%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-25-charging {
  background: linear-gradient(to top, #ffffff 25%, #444444 25%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-30-charging {
  background: linear-gradient(to top, #ffffff 30%, #444444 30%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-35-charging {
  background: linear-gradient(to top, #ffffff 35%, #444444 35%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-40-charging {
  background: linear-gradient(to top, #ffffff 40%, #444444 40%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-45-charging {
  background: linear-gradient(to top, #ffffff 45%, #444444 45%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-50-charging {
  background: linear-gradient(to top, #ffffff 50%, #444444 50%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-55-charging {
  background: linear-gradient(to top, #ffffff 55%, #444444 55%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-60-charging {
  background: linear-gradient(to top, #ffffff 60%, #444444 60%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-65-charging {
  background: linear-gradient(to top, #ffffff 65%, #444444 65%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-70-charging {
  background: linear-gradient(to top, #ffffff 70%, #444444 70%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-75-charging {
  background: linear-gradient(to top, #ffffff 75%, #444444 75%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-80-charging {
  background: linear-gradient(to top, #ffffff 80%, #444444 80%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-85-charging {
  background: linear-gradient(to top, #ffffff 85%, #444444 85%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-90-charging {
  background: linear-gradient(to top, #ffffff 90%, #444444 90%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-95-charging {
  background: linear-gradient(to top, #ffffff 95%, #444444 95%);
  animation: charging-pulse 2s ease-in-out infinite;
}
#custom-battery-fill.level-100-charging {
  background: #ffffff;
  animation: charging-pulse 2s ease-in-out infinite;
}

#custom-battery-fill {
  color: #000000;
  background: #ffffff;
  transition: all 1s ease;
}

#custom-cava {
  padding: 8px 0 10px 0;
  margin: 13px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.5s ease;
  color: #ffffff;
  min-width: 0;
  border-radius: 10px;
}
#custom-cava.idle {
  border-color: rgba(255, 255, 255, 0.45);
  color: rgba(255, 255, 255, 0.65);
}

#custom-cava.active {
  border-color: #ffffff;
  border: 2px solid #a8a8a8;
  color: #ffffff;
}
