* {
  font-family: "JetBrainsMonoNF";
  font-size: 13px;
}

window#waybar {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
}

#custom-clockmedia {
  color: #1f2937;
  font-weight: 600;
  padding: 0 15px;
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  color: #9ca3af;
  padding: 0 10px;
}

#workspaces button.active {
  color: #000000;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #000000;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.03);
}

#memory,
#battery,
#bluetooth,
#backlight,
#wireplumber,
#network,
#custom-kdeconnect,
#clock,
#tray {
  color: #1f2937;
  padding: 0 12px;
}

#custom-logo {
  font-size: 16px;
  color: #000000;
  padding-left: 10px;
}

#custom-power {
  color: #ef4444;
  padding: 0 15px;
}

#custom-gamemode {
  color: #6b7280;
  padding: 0 10px;
}
